
header {
    display: flex;
    justify-content:space-between;
    background-color: #0194FF;
    border-bottom: 10px solid black;
    padding: 10px 20px; 
}

nav {
    text-align: right;
}

img:hover {
    transform: scale(1.03);
}

a {
    display: inline-flex;
    align-items: center;
    color: #3a423a;
    font-size: 20px;
    font-family: "Fira Code", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px; 
    transition: transform 1.03;
}

a:hover {
    transform: scale(1.03);
    color: white;
}

a::before {
    content: "";
    background-color: #05FF00;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #2ACC27;
    box-shadow: 5px 5px 0 black;
    padding: 18px 20px;
    margin-right: 0px;
    transition: transform 1.03;
}

#button:hover {
    transform: scale(1.03);
    color: #ffffff;
}