.main-box {
    display: inline-block;
    background-color:#3A4042;
    box-shadow: 10px 10px 0 #000;
    padding: 40px 44px;
    text-align:center;
}

.main-box .main-title {

    margin-bottom:28px;
}