.node-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.node-card::before {
    content: '';
    box-sizing: border-box;
    height: 0px;
    width: 37px;
    border: 2px dashed #000;
    transform: rotate(90deg) translateX(-70%);
    position: absolute;
    bottom: 140px;
}

.node-card .title {
    font-size: 25px;
    font-weight: 400;
    font-family: 'Press Start 2P';
    color: #fff;
    margin-bottom: 50px;
}

.node-card .logo {
    display: flex;
    align-items: center;
    background-color: #CEB02A;
    height: 140px;
    padding: 0px 20px;  
    border: 5px solid #000;	
}

.node-card.-clean .logo {
    padding: 0;
}

.node-card.-pink .logo {
    background: #F25A70;
}