.title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #2ACC27;
    text-shadow: 4px 4px 0 #000;
}

.title.-seconde {
    color: #fff;
    text-shadow: none;
    text-align: center;
}